/* ----------Generic selectors---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------Utility selectors------- */

:root {
    --ds-light-dark: #55585b;
    --ds-deep-dark: #23272a;
    --ds-light-heavenly: #8ea1e1;
    --ds-deep-heavenly: #677cc2;
    --ds-off-white: #f6f6f6;

}

.off-white_background {
    background-color: var(--ds-off-white);
}



/* ---------Debug selectors--------- */

.debug .nav-container {
    background-color: blue;
}

.debug nav {
    background-color: green;
}

.debug .presentation-container {
    background-color: yellow;
}

.debug #presentation {
    background-color: orange;
}

.debug .info-container img {
    background-color: #1c82d1;
    border: 2px dashed black;
}

.debug .description {
    background-color: #58d11c;
    border: 2px dashed black;
}

.debug .info {
    background-color: #c9103e;
    border: 2px dashed black;
    height: 300px;
}

.debug #top-footer {
    height: 300px;

}

/* ------Header selectors------- */

/* Banner selector */

header banner {
    display: block;
    background-image: url("https://i.pinimg.com/originals/a9/97/51/a99751ac6e165b94030b86c62fa00294.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
}

/* Nav selector  */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 10%;
}

nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;


}

.logo-discord {
    width: 25%;

}

.log-in {
    width: 25%;
    text-align: end;
}

.main-menù {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.presentation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#presentation {
    width: 40%;
    text-align: center;
    padding: 20px;
}

h1 {
    padding: 20px;
}

/*-------- Main Selector---------  */

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.info {
    width: 70%;
    display: flex;
}

.info>img {
    width: 60%;
}

.info>.description {
    width: 40%;
    padding: 10px;
}

h2 {
    padding: 10px 0;
}

/* Last different main containe */

.last-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#info_flexcolumn {
    display: flex;
    width: 70%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
  
    

}

h3 {
    margin: 30px 0;
}

#info_flexcolumn img {
    max-width: 50%;

}

/* Footer selector */

#app-footer {
    background-color: var(--ds-deep-dark);

}

#top-footer {
    width: 70%;
    margin: auto;
    display: flex;
    height: 90vh;
    
}